<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>WebApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>myHappyServlet</servlet-name>
		<servlet-class>tw.com.eeit.test.XmlTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myHappyServlet</servlet-name>
		<url-pattern>/clientServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AAA</servlet-name>
		<servlet-class>tw.com.eeit.test.ServletLife</servlet-class>
		<init-param>
			<param-name>myName</param-name>
			<param-value>Allen</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AAA</servlet-name>
		<url-pattern>/AAAServletLife</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>logoImgPath</param-name>
		<param-value>C:\_Java\Servlet\wrokspace\WebApp\src\main\webapp\A.jpg</param-value>
	</context-param>


</web-app>